// COLOURS
$color-black: #000;
$color-background-black: #212121;
$color-white: #fff;
$color-grey: #CCD;
$color-lightest-grey: #eee;
$color-light-grey: #ccc;
$color-medium-grey: #999;
$color-dark-grey: #666;
$color-darkest-grey: #333;
$color-dark-goldenrod: #B8860B;
$color-royal-blue: #4169E1;
$color-gold: #FFD700;


// FONTS
$font-arial: Arial, sans-serif;
$font-damion: 'Damion';
$font-impact: Impact, sans-serif;
